.content__cart {
  border-bottom: 2px solid map-get($colors, ctaSecondary);
  margin-bottom: 10px;
  position: relative;
}

.container__cart,
.container__price,
.container__clearAll {
  max-width: 600px;
  margin: 1rem auto;
  padding: 10px;
}

.cart__img {
  max-width: 150px;
  aspect-ratio: 15 / 15;
  object-fit: cover;
}

.icon__circle {
  background-color: black;
}

.fa-trash-can {
  position: absolute;
  color: #aa3f3e;
  top: 0;
  right: 20px;
  cursor: pointer;
  z-index: 99;
}

.cart__clearAll {
  display: block;
}
