.dashboard__title {
  text-align: center;
}

.nav__dashboard--ul {
  display: flex;
  justify-content: center;
}

.nav__list--divider {
  margin: 0 10px;
}

.container__edit {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
}

.edit__link {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: 400px;
  margin: 1rem auto;
  background-color: map-get($colors, header);
  border: $border;
}

.edit__link:hover {
  border: 1px solid map-get($colors, ctaSecondary);
}

.container__products--edit {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.edit__image--showcase {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.edit__img {
  width: 50px;
  height: 50px;
}
