.nav__dropdown {
  display: none;
}

.nav__dropdown--open {
  display: block;
  background-color: rgb(209, 209, 209);
  position: absolute;
  padding: 1rem;
  left: 0;
  right: 0;
  top: 55px;

  animation: bounce 400ms ease-in-out;
}

.nav__ul--dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown__btn {
  border: none;
  cursor: pointer;
  background: none;
  display: none;
}

.nav__dropdown--section {
  margin-top: 1rem;
}

@keyframes bounce {
  0% {
    transform: rotateX(-50deg);
  }

  70% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@media (max-width: 800px) {
  .nav__primary li,
  .nav__secondary li {
    display: none;
  }

  .dropdown__btn {
    display: block;
  }
}

@media (min-width: 800px) {
  .nav__dropdown.nav__dropdown--open {
    display: none;
  }
}
