.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form__container--add,
.form__container--edit {
  align-items: flex-start;
}

.form__login {
  min-width: 400px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

label {
  display: block;
}

.form__element--line {
  display: flex;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
  padding: 10px 3px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.form__login > * {
  margin-top: 10px;
}

.form__login--btn {
  width: 100%;
}

.form__delete--btn {
  background-color: #fc615f;
  @extend .form__login--btn;
}

.form__delete--btn:hover {
  background-color: #fd504d;
}

.form__search {
  max-width: 300px;
  margin: 0 auto 3rem auto;
  padding: 1rem;
}

.form__search--label {
  text-align: center;
}

.form__new--btn {
  display: none;
}

@media (max-width: 450px) {
  .form__login {
    min-width: 280px;
  }
}
