.container__hero {
  background-color: #e8e8e8;
  text-transform: uppercase;
}

.container__hero--img {
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__hero--text {
  color: white;
  text-align: center;
  padding: 0 1rem;
}

.hero__title {
  margin: 0;
  font-size: 5rem;
}

.hero__info {
  margin-top: 0;
}

@media (max-width: 450px) {
  .hero__title {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .container__hero--img {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
