.container__info {
  max-width: 1080px;
  border-radius: 6px;
  display: flex;
  margin: 3rem auto;
  padding: 80px;
  justify-content: space-between;
  background-color: map-get($colors, header);
}

.info__child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #525252;

  p {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .container__info {
    flex-direction: column;
    border-radius: 0px;
  }
}
