.message {
  width: 100%;
  border-radius: 6px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.success {
  border: 1px solid green;
}

.warning {
  border: 1px solid yellow;
}

.error {
  border: 1px solid red;
}
