$colors: (
  header: #f2f1f0,
  ctaPrimary: #f26e50,
  ctaPrimaryHover: #f78065,
  ctaSecondary: #68a9c2,
  ctaSecondaryHover: #7cb2c7,
  activeLink: #4400ae,
);

$boxShadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
$border: 1px solid rgb(233, 231, 231);
$header-border: 1px solid #f2f1f0;

$font-text: "Rubik", sans-serif;
$font-headers: "DM Sans", sans-serif;
